<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}

    <ul class="nav nav-list">
        <!-- Main Section: Introduction -->
        <li>
            <a href="{{ site.baseurl }}/">Introduction</a>
        </li>

        <!-- Main Section: Data Dictionary -->
        <li>
            <a href="#data-dictionary" class="toggle-menu" data-target="#data-dictionary-submenu">
                Data Dictionary <i class="fa fa-chevron-right toggle-arrow"></i>
            </a>
            <ul id="data-dictionary-submenu" class="submenu">
                <!-- Clinical Data -->
                <li>
                    <a href="#clinical-data" class="toggle-menu" data-target="#clinical-data-submenu">
                        Clinical Data <i class="fa fa-chevron-right toggle-arrow"></i>
                    </a>
                    <ul id="clinical-data-submenu" class="submenu">
                        <!-- Demographics -->
                        <li>
                            <a href="#demographics" class="toggle-menu" data-target="#demographics-submenu">
                                Demographics <i class="fa fa-chevron-right toggle-arrow"></i>
                            </a>
                            <ul id="demographics-submenu" class="submenu">
                                <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#rel">Race & Ethnicity</a></li>
                                <li><a href="#language">Language</a></li>
                                <li><a href="#insurance">Insurance</a></li>
                            </ul>
                        </li>
    <!-- HRSN -->
    <li>
        <a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#hrsn" class="toggle-menu" data-target="#hrsn-submenu">
            Health Related Social Needs <i class="fa fa-chevron-right toggle-arrow"></i>
        </a>
        <ul id="hrsn-submenu" class="submenu">
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#housing">Housing</a></li>
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#food-access">Food Access</a></li>
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#transportation">Transportation</a></li>
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#utilities">Utilities</a></li>
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#thrive">THRIVE</a></li>
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#geocoding">Geocoding</a></li>
            <li><a href="{{ site.baseurl }}/pages/02_hrsn_sdoh#other-considerations">Other Considerations</a></li>
        </ul>
    </li>
                        <!-- Specific Populations -->
                        <li>
                            <a href="#specific-populations" class="toggle-menu" data-target="#specific-populations-submenu">
                                Specific Populations <i class="fa fa-chevron-right toggle-arrow"></i>
                            </a>
                            <ul id="specific-populations-submenu" class="submenu">
                                <li><a href="#incarcerated-persons">Incarcerated Persons</a></li>
                                <li><a href="#immigrants-refugees">Immigrants and Refugees</a></li>
                                <li><a href="#sex-gender-minorities">Sex and Gender Minorities</a></li>
                                <li><a href="#part-ii-data">Part II Data</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- Main Section: External Data -->
        <li>
            <a href="#external-data" class="toggle-menu" data-target="#external-data-submenu">
                External Data <i class="fa fa-chevron-right toggle-arrow"></i>
            </a>
            <ul id="external-data-submenu" class="submenu">
                <li><a href="#ochin-community-connect">OCHIN and Community Connect</a></li>
                <li><a href="#wellsense-claims">Wellsense Claims</a></li>
                <li><a href="#other-external-data-sources">Other External Data Sources</a></li>
            </ul>
        </li>

        <!-- Main Section: Clinical Trial Recruitment -->
        <li>
            <a href="#clinical-trial-recruitment" class="toggle-menu" data-target="#clinical-trial-recruitment-submenu">
                Clinical Trial Recruitment <i class="fa fa-chevron-right toggle-arrow"></i>
            </a>
            <ul id="clinical-trial-recruitment-submenu" class="submenu">
                <li><a href="#clinical-trial-subsection-1">Subsection 1</a></li>
                <li><a href="#clinical-trial-subsection-2">Subsection 2</a></li>
            </ul>
        </li>

        <!-- Main Section: Data Sharing and Access -->
        <li>
            <a href="#data-sharing-access" class="toggle-menu" data-target="#data-sharing-access-submenu">
                Data Sharing and Access <i class="fa fa-chevron-right toggle-arrow"></i>
            </a>
            <ul id="data-sharing-access-submenu" class="submenu">
                <li><a href="#data-sharing-subsection-1">Subsection 1</a></li>
                <li><a href="#data-sharing-subsection-2">Subsection 2</a></li>
            </ul>
        </li>
        
<!-- Main Section: Data Delivery -->
        <li>
            <a href="#data-delivery" class="toggle-menu" data-target="#data-delivery-submenu">
                Data Delivery <i class="fa fa-chevron-right toggle-arrow"></i>
            </a>
            <ul id="data-delivery-submenu" class="submenu">
                <li><a href="#data-delivery-subsection-1">Subsection 1</a></li>
                <li><a href="#data-delivery-subsection-2">Subsection 2</a></li>
            </ul>
        </li>
        
        <!-- Main Section: Additional Resources -->
        <li>
            <a href="#additional-resources" class="toggle-menu" data-target="#additional-resources-submenu">
                Additional Resources <i class="fa fa-chevron-right toggle-arrow"></i>
            </a>
            <ul id="additional-resources-submenu" class="submenu">
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
            </ul>
        </li>
    </ul>
</div>
