<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}

    <ul class="nav nav-list">
        <!-- Main Section: Introduction -->
        <li>
            <a href="{{ site.baseurl }}">Introduction</a>
        </li>
        
<!-- Main Section: Clinical Data Dictionary -->
<li>
    <a href="{{ site.baseurl }}/pages/data_overview#main">Data Available</a>
    <ul id="data-dictionary-submenu" class="submenu">
        <!-- Demographics -->
        <li>
            <a href="{{ site.baseurl }}/pages/demographics">Demographics</a>
        </li>
        
         <!-- Diagnoses -->
        <li>
            <a href="{{ site.baseurl }}/pages/diagnoses">Diagnoses</a>
        </li>
        
         <!-- Encounters & Utilization -->
        <li>
            <a href="{{ site.baseurl }}/pages/encounters">Encounters & Utilization</a>
        </li>
                
        <!-- Health Related Social Needs -->
        <li>
            <a href="{{ site.baseurl }}/pages/hrsn">Health Related Social Needs</a>
        </li>

        <!-- Imaging -->
        <li>
            <a href="{{ site.baseurl }}/pages/imaging">Imaging</a>
        </li>

         <!-- Labs -->
        <li>
            <a href="{{ site.baseurl }}/pages/labs">Labs</a>
        </li>

        <!-- Medications -->
        <li>
            <a href="{{ site.baseurl }}/pages/meds">Medications</a>
        </li>
        
        <!-- Notes -->
        <li>
            <a href="{{ site.baseurl }}/pages/notes">Notes</a>
        </li>
        
        <!-- Orders -->
        <li>
            <a href="{{ site.baseurl }}/pages/orders">Orders</a>
        </li>
       
        <!-- Referrals -->
        <li>
            <a href="{{ site.baseurl }}/pages/referrals">Referrals</a>
        </li>       
        
        <!-- Specific Populations -->
        <li>
            <a href="{{ site.baseurl }}/pages/spec_populations#specpop">Specific Populations</a>
        </li>

        <!-- Vitals -->
        <li>
            <a href="{{ site.baseurl }}/pages/vitals">Vitals</a>
        </li>
        
    </ul>
</li>



<li>
    <a href="#external-data">External Data</a>
    <ul>
        <li><a href="#ochin-community-connect">OCHIN and Community Connect</a></li>
        <li><a href="#wellsense-claims">Wellsense Claims</a></li>
        <li><a href="#other-external-data-sources">Other External Data Sources</a></li>
    </ul>
</li>
 <!-- Main Section: Clinical Trial Recruitment -->
<li>
    <a href="#clinical-trial-recruitment">Clinical Trial Recruitment</a>
    <ul>
        <li><a href="#clinical-trial-subsection-1">Subsection 1</a></li>
        <li><a href="#clinical-trial-subsection-2">Subsection 2</a></li>
    </ul>
</li>

<!-- Main Section: Data Sharing and Access -->
<li>
    <a href="#data-sharing-access">Data Sharing and Access</a>
    <ul>
        <li><a href="#data-sharing-subsection-1">Subsection 1</a></li>
        <li><a href="#data-sharing-subsection-2">Subsection 2</a></li>
    </ul>
</li>

<!-- Main Section: Data Delivery -->
<li>
    <a href="#data-delivery">Data Delivery</a>
    <ul>
        <li><a href="#data-delivery-subsection-1">Subsection 1</a></li>
        <li><a href="#data-delivery-subsection-2">Subsection 2</a></li>
    </ul>
</li>

<!-- Main Section: Additional Resources -->
<li>
    <a href="{{ site.baseurl }}/pages/resources">Additional Resources</a>
</li>
        
    </ul>
</div>
