---
layout: docs
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <!-- Link to the custom CSS file -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include menu.html %}

        <div class="content col-xs-12 col-sm-8 col-md-9">
            <h1>{{ page.title }}</h1>
            <div class="edit-container">
                <!--<a href="https://github.com/tableau/embedding-playbook/edit/master/{{ page.path }}" class="edit-links"><span class="glyphicon glyphicon-pencil"></span> Edit this page</a>
                &nbsp;-->
                <a href="https://github.com/Research-Informatics/data-dictionary/issues" class="edit-links"><span class="glyphicon glyphicon-flag"></span> Submit an issue</a>
            </div>
            <br />
            {{ content }}
        </div>

        {% include footer.html %}
    </div>
</body>

</html>
